*
{
    user-select: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#p_main
{
    border: black 1px solid;
    width: 250px;
    height: 350px;
    padding: 5px;
    margin: 200px auto;
    cursor: pointer;
}

#history
{
    background-color: rgb(179, 179, 179);
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 10px;
    color: rgb(85, 85, 85);
    border-radius: 0 0 10px 0;
}

#history p
{
    padding-right: 20px;
    padding-left: 10px;
}

#container
{
    overflow: auto;
    margin: 0 10px;
    min-width: 400px;
    max-height: 300px;
    background-color: gainsboro;
    color: rgb(85, 85, 85);
    border-radius: 10px;
}

body
{
    overflow-y: scroll;
}

#p_main img
{
    position: absolute;
    transition: all 1s;
}

#twoje_karty
{
    display: block;
    border: 1px solid rgb(255, 0, 212);
    width: 100%;
    min-height: 300px;
    overflow: visible;
}

#twoje_karty img
{
    width: 175px;
    height: 245px;
    padding: 20px 5px;
    cursor: pointer;
    transition: transform .2s;
}

#twoje_karty img:hover
{
    transform: translateY(-25px);
}